body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./components/gradient2.png);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3{
  margin-top: 20px;
  font-family:Arial, Helvetica, sans-serif
}

.postBorder{
border-style: solid;
border-color: #ffffff;
background-color: #ffffff;
text-align: center;
border-radius: 20px;
margin-top: 50%;
color: #153372;
}

.navbar{
  background-color: #000000;
  color: #ffffff;
}

.btn1{
  margin-left:40px;
  border-radius: 7px;
  padding: 5px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border: #153372;


}

.btn2{
  margin-left:auto;
  border-radius: 7px;
  margin-right: 28px;
  padding: 5px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border: #153372;

}

.btn3{
  border-radius: 7px;
  margin-right: 28px;
  padding: 5px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border: #153372;


}
h4{
  margin-left: 30px;
  border: solid;
  padding: 10px;
  margin-top: 10px;
  
}

.btn4{
  margin-right: 40px;
  border-radius: 7px;
  padding: 5px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border: #153372;


}
.lock{
  height: 40px;
  margin-left: 40px;
}
.input2{
  margin-left: 5px;
}
